{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tag
  -->
  <title>Airplayce - Business as a service</title>
  <meta name="title" content="EduWeb - The Best Program to Enroll for Exchange">
  <meta name="description" content="This is an education html template made by codewithsadee">

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'img/LOGO_simp.png' %}" >

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'css/templates4.css' %}">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700;800&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="{% static 'img/hero-bg.svg' %}">
  <link rel="preload" as="image" href="{% static 'img/hero-banner-1.jpg' %}">">
  <link rel="preload" as="image" href="{% static 'img/hero-banner-2.jpg' %}">
  <link rel="preload" as="image" href="{% static 'img/hero-shape-1.svg' %}">
  <link rel="preload" as="image" href="{% static 'img/hero-shape-2.png' %}">

</head>

<body id="top">
    
  <div class="header">
    {% include 'partials/header.html' %}
  </div>
      
      
      <main>
        <a href="{% url 'register' %}"><button class="inscrip" >S'inscrire Maintenant</button></a>
        <div class="title">
            <h3 class="template_title">Templates</h3>
            <div class="filter">
              <div class="plan-template-nb">
                <a href=""> Tous(64) </a>
                <a>Basic(49)</a>
                <a>Avancé(10)</a>
                <a>Entreprise(5)</a>
              </div>
              <button class="filter-btn">Filtre</button>
              <select class="select-filter">
                <option value="">Par ordre d'arrivé</option>
                <option value="">Par popularité</option>
              </select>
            </div>
        </div>
        
        <ul class="grid-list">

          <li>
            <div class="course-card">
              <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                <img src="{% static 'img/templates/ecom.png' %}" width="370" height="220" loading="lazy"
                  alt="Build Responsive Real- World Websites with HTML and CSS" class="img-cover">
              </figure>
              <div class="abs-badge">
                
                <a href="https://themewagon.github.io/furni/" target="_blank"><span class="span">Preview</span></a>
              </div>

              <div class="card-content">

                <span class="badge">Avancé</span>

                <h3 class="h3">
                  <a  href="https://themewagon.github.io/furni/" target="_blank" class="card-title">Site de ventes d'articles adaptés pour des services de ventes</a>
                </h3>

                <div class="wrapper">

                  <div class="rating-wrapper">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>

                  <p class="rating-text">(5.0/7 note)</p>

                </div>

                <data class="price" value="29">Ventes</data>

                <ul class="card-meta-list">

                  <li class="card-meta-item">
                    <ion-icon name="library-outline" aria-hidden="true"></ion-icon>

                    <span class="span">8 achats</span>
                  </li>

                  <li class="card-meta-item">
                    <ion-icon name="people-outline" aria-hidden="true"></ion-icon>

                    <span class="span">230 utilisateurs</span>
                  </li>

                </ul>

              </div>

            </div>
          </li>

          <li>
            <div class="course-card">

              <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                <img src="{% static 'img/templates/ecom3.png' %}" width="370" height="220" loading="lazy"
                  alt="Java Programming Masterclass for Software Developers" class="img-cover">
              </figure>

              <div class="abs-badge">
                <!--<ion-icon name="time-outline" aria-hidden="true"></ion-icon>-->

                <a href="https://themewagon.github.io/zay-shop/" target="_blank"><span class="span">Preview</span></a>
              </div>

              <div class="card-content">

                <span class="badge">Avancé</span>

                <h3 class="h3">
                  <a href="#" class="card-title">Site de ventes idéal pour la vente d'articles</a>
                </h3>

                <div class="wrapper">

                  <div class="rating-wrapper">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <p class="rating-text">(4.5 /9 Note)</p>
                </div>
                <data class="price" value="49">Ventes</data>
                <ul class="card-meta-list">

                  <li class="card-meta-item">
                    <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
                    <span class="span">3 achats</span>
                  </li>

                  <li class="card-meta-item">
                    <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                    <span class="span">177 utilisateurs</span>
                  </li>

                </ul>

              </div>

            </div>
          </li>


          <li>
            <div class="course-card">
              <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                <img src="{% static 'img/templates/resto1.png' %}" width="370" height="220" loading="lazy"
                  alt="The Complete Camtasia Course for Content Creators" class="img-cover">
              </figure>
              <div class="abs-badge">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <a href="https://themewagon.github.io/restaurantly/" target="_blank"><span class="span">Preview</span></a>
              </div>
              <div class="card-content">
                <span class="badge entreprise">Entreprise</span>
                <h3 class="h3">
                  <a href="https://themewagon.github.io/restaurantly/" target="_blank" class="card-title">Site web pour des restaurants haut standing</a>
                </h3>

                <div class="wrapper">

                  <div class="rating-wrapper">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <p class="rating-text">(4.9 /7 note)</p>
                </div>
                <data class="price" value="35">Restaurants</data>
                <ul class="card-meta-list">
                  <li class="card-meta-item">
                    <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
                    <span class="span">4 achats</span>
                  </li>
                  <li class="card-meta-item">
                    <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                    <span class="span">400 utilisateurs</span>
                  </li>
                </ul>

              </div>

            </div>
          </li>

          <li>
            <div class="course-card">
              <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                <img src="{% static 'img/templates/gym1.png' %}" width="370" height="220" loading="lazy"
                  alt="The Complete Camtasia Course for Content Creators" class="img-cover">
              </figure>
              <div class="abs-badge">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <a href="https://themewagon.github.io/gymlife/" target="_blank"><span class="span">Preview</span></a>
              </div>
              <div class="card-content">
                <span class="badge entreprise">Entreprise</span>
                <h3 class="h3">
                  <a href="https://themewagon.github.io/gymlife/" target="_blank" class="card-title">Site web pour des salles de gym</a>
                </h3>

                <div class="wrapper">

                  <div class="rating-wrapper">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <p class="rating-text">(4.9 /7 note)</p>
                </div>
                <data class="price" value="35">Salle de gym</data>
                <ul class="card-meta-list">
                  <li class="card-meta-item">
                    <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
                    <span class="span">4 achats</span>
                  </li>
                  <li class="card-meta-item">
                    <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                    <span class="span">400 utilisateurs</span>
                  </li>
                </ul>

              </div>

            </div>
          </li>

          <li>
            <div class="course-card">
              <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                <img src="{% static 'img/templates/gym2.png' %}" width="370" height="220" loading="lazy"
                  alt="The Complete Camtasia Course for Content Creators" class="img-cover">
              </figure>
              <div class="abs-badge">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <a href="https://themewagon.github.io/gym2/" target="_blank"><span class="span">Preview</span></a>
              </div>
              <div class="card-content">
                <span class="badge entreprise">Entreprise</span>
                <h3 class="h3">
                  <a href="https://themewagon.github.io/gym2/" target="_blank" class="card-title">Site web pour des salles de gym</a>
                </h3>

                <div class="wrapper">

                  <div class="rating-wrapper">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <p class="rating-text">(4.9 /7 note)</p>
                </div>
                <data class="price" value="35">Salle de gym</data>
                <ul class="card-meta-list">
                  <li class="card-meta-item">
                    <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
                    <span class="span">4 achats</span>
                  </li>
                  <li class="card-meta-item">
                    <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                    <span class="span">400 utilisateurs</span>
                  </li>
                </ul>

              </div>

            </div>
          </li>

          <li>
            <div class="course-card">
              <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                <img src="{% static 'img/templates/gym3.png' %}" width="370" height="220" loading="lazy"
                  alt="The Complete Camtasia Course for Content Creators" class="img-cover">
              </figure>
              <div class="abs-badge">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <a href="https://themewagon.github.io/gym/" target="_blank"><span class="span">Preview</span></a>
              </div>
              <div class="card-content">
                <span class="badge entreprise">Entreprise</span>
                <h3 class="h3">
                  <a href="https://themewagon.github.io/gym/" target="_blank" class="card-title">Site web pour des salles de gym</a>
                </h3>

                <div class="wrapper">

                  <div class="rating-wrapper">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <p class="rating-text">(4.9 /7 note)</p>
                </div>
                <data class="price" value="35">Salle de gym</data>
                <ul class="card-meta-list">
                  <li class="card-meta-item">
                    <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
                    <span class="span">4 achats</span>
                  </li>
                  <li class="card-meta-item">
                    <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                    <span class="span">400 utilisateurs</span>
                  </li>
                </ul>

              </div>

            </div>
          </li>
          <li>
            <div class="course-card">
              <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                <img src="{% static 'img/templates/salon2.png' %}" width="370" height="220" loading="lazy"
                  alt="The Complete Camtasia Course for Content Creators" class="img-cover">
              </figure>
              <div class="abs-badge">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <a href="https://themewagon.github.io/pretty/" target="_blank"><span class="span">Preview</span></a>
              </div>
              <div class="card-content">
                <span class="badge entreprise">Entreprise</span>
                <h3 class="h3">
                  <a href="https://themewagon.github.io/pretty/" target="_blank" class="card-title">Site web pour des salons de beauté</a>
                </h3>

                <div class="wrapper">

                  <div class="rating-wrapper">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <p class="rating-text">(4.9 /7 note)</p>
                </div>
                <data class="price" value="35">Salon de beauté</data>
                <ul class="card-meta-list">
                  <li class="card-meta-item">
                    <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
                    <span class="span">4 achats</span>
                  </li>
                  <li class="card-meta-item">
                    <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                    <span class="span">400 utilisateurs</span>
                  </li>
                </ul>

              </div>

            </div>
          </li>
          <li>
            <div class="course-card">
              <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                <img src="{% static 'img/templates/salon3.png' %}" width="370" height="220" loading="lazy"
                  alt="The Complete Camtasia Course for Content Creators" class="img-cover">
              </figure>
              <div class="abs-badge">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <a href="https://themewagon.github.io/careo/" target="_blank"><span class="span">Preview</span></a>
              </div>
              <div class="card-content">
                <span class="badge entreprise">Entreprise</span>
                <h3 class="h3">
                  <a href="https://themewagon.github.io/careo/" target="_blank" class="card-title">Site web pour des salons de beauté</a>
                </h3>

                <div class="wrapper">

                  <div class="rating-wrapper">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <p class="rating-text">(4.9 /7 note)</p>
                </div>
                <data class="price" value="35">Salon de beauté</data>
                <ul class="card-meta-list">
                  <li class="card-meta-item">
                    <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
                    <span class="span">4 achats</span>
                  </li>
                  <li class="card-meta-item">
                    <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                    <span class="span">400 utilisateurs</span>
                  </li>
                </ul>

              </div>

            </div>
          </li>
          <li>
            <div class="course-card">
              <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                <img src="{% static 'img/templates/coif.png' %}" width="370" height="220" loading="lazy"
                  alt="The Complete Camtasia Course for Content Creators" class="img-cover">
              </figure>
              <div class="abs-badge">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <a href="https://themewagon.github.io/haircut/" target="_blank"><span class="span">Preview</span></a>
              </div>
              <div class="card-content">
                <span class="badge entreprise">Entreprise</span>
                <h3 class="h3">
                  <a href="https://themewagon.github.io/haircut/" target="_blank" class="card-title">Site web pour des salons de coiffure homme</a>
                </h3>

                <div class="wrapper">

                  <div class="rating-wrapper">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <p class="rating-text">(4.9 /7 note)</p>
                </div>
                <data class="price" value="35">Salon de coiffure</data>
                <ul class="card-meta-list">
                  <li class="card-meta-item">
                    <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
                    <span class="span">4 achats</span>
                  </li>
                  <li class="card-meta-item">
                    <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                    <span class="span">400 utilisateurs</span>
                  </li>
                </ul>

              </div>

            </div>
          </li>
          <li>
            <div class="course-card">
              <figure class="card-banner img-holder" style="--width: 370; --height: 220;">
                <img src="{% static 'img/templates/coif2.png' %}" width="370" height="220" loading="lazy"
                  alt="The Complete Camtasia Course for Content Creators" class="img-cover">
              </figure>
              <div class="abs-badge">
                <ion-icon name="time-outline" aria-hidden="true"></ion-icon>
                <a href="https://technext.github.io/hairsal/index.html" target="_blank"><span class="span">Preview</span></a>
              </div>
              <div class="card-content">
                <span class="badge entreprise">Entreprise</span>
                <h3 class="h3">
                  <a href="https://technext.github.io/hairsal/index.html" target="_blank" class="card-title">Site web pour des salons de coiffure homme</a>
                </h3>

                <div class="wrapper">

                  <div class="rating-wrapper">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                  </div>
                  <p class="rating-text">(4.9 /7 note)</p>
                </div>
                <data class="price" value="35">Salon de coiffure</data>
                <ul class="card-meta-list">
                  <li class="card-meta-item">
                    <ion-icon name="library-outline" aria-hidden="true"></ion-icon>
                    <span class="span">4 achats</span>
                  </li>
                  <li class="card-meta-item">
                    <ion-icon name="people-outline" aria-hidden="true"></ion-icon>
                    <span class="span">400 utilisateurs</span>
                  </li>
                </ul>

              </div>

            </div>
          </li>
        </ul>
      </main>
</body>

{% include 'partials/footer.html' %}

<script src="{% static 'js/script.js' %}" defer></script>

<!-- 
  - ionicon link
-->
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</html>